/* your styles go here */
.intro_custom {
  font-family: "Palatino", "Palatino Linotype", "Palatino LT STD", "Book Antiqua", "Georgia, serif";
	font-size: xx-large;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;

}

.aboutus_headshot_custom {
	display: flex;
	flex-direction: row;


}

.divider {
	/*border-right: 1px solid lightgrey;*/

}

.img-circle-custom {
	border-radius: 50%;
	width: 100%;
}

.row_custom {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
 
 .box_custom  {
 	
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	justify-content: flex-end;
/* 	width: 500px;*/
 	height: 350px;
  border-radius: 1%;
  background-repeat: no-repeat; 
   background-size: cover; 
   background-position: center;

 }


.services_align_custom {
  text-align: center;
}

 .footer2 {
 	display: flex;
 	flex-direction: column;
 	align-items: flex-end;
 	justify-content: flex-end;
 	background-color: #111;

 }

 .row_footer_custom {
 	background-color: grey;
 }


 .contact-footer-custom {
 	 display: flex;
 	flex-direction: row;
 	align-items: center;
 	justify-content: center;

 }

 .p_custom {
 	font-family: Arial, Helvetica, sans-serif;
 	font-size: small;
 }

.p_custom1 {
	font-family: Arial, Helvetica, sans-serif;
 	font-size: large;
}

.p_custom2 {
  font-family: Arial, Helvetica, sans-serif;
  color: darkgrey;
  font-size: small;
}

.disclosures_link {
 text-decoration:underline;
}


.disclosures_link:hover{
 text-decoration:underline;
 color: white;

}



 p {
 	font-style: normal;
 	padding-bottom: 2px;
 }


.h5_intro_custom {
	font-size: large;
	color: #00ade6;
}

.heading_custom {
	color: #00ade6;
}
/* i {
 	margin:0px 15px 0px 0px;
 	padding: 0px 5px 0px 0px
 }*/


 .toggle {
  display: block;
/*  margin: 20px 10px;*/
  width: 100%;
  background-color: transparent;
  margin: auto -20px;
  padding: 5px;
  display: block;
  opacity: 100;
  -webkit-transition: ease-in 0.5s all;
  transition: ease-in 0.9s all;
  -webkit-transform: translateY(-500%);
  -ms-transform: translateY(-500%);
  transform: translateY(-500%);
  min-width: 300px;
}

.toggle--active {
  display: block;
  opacity: 100;
  -webkit-transition: ease-in 0.5s all;
  transition: ease-in 0.5s all;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.toggle-menu { 
	display: flex;
    flex-direction: column;
	margin-bottom: 5px; 
	justify-content: center;
	align-items: center;
}

.toggle-menu li {
/*  width: 100%;*/
  display: flex;
  flex-direction: row;
/*  margin: 1px auto;*/
}

.toggle-menu li a {
  text-decoration: none;
  color: white;
  display: block;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  border-bottom: 2px solid transparent;
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
  font-weight: 500;
  padding: 5px 5px;
}

.toggle-menu li a span { text-transform: lowercase; }

.toggle-menu li a:hover {
  color: #db5523;
  border-bottom: 1px solid #db5523;
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
  -webkit-transform: scale(1.00);
  -ms-transform: scale(1.00);
  transform: scale(1.00);
  font-weight: 700;
}


.navicon {
  width: 100%;
  background: transparent;
  margin: 80px auto 40px;
  position: relative;
  height: 30px;
  width: 50px;
  display: block;
  z-index: 199;
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
}



.navicon:before, .navicon:after {
  background: #fff;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  content: "";
  height: 3px;
  left: 0;
  -webkit-transition: 0.8s ease;
  transition: 0.8s ease;
  width: 45px;
}

.navicon:before  {
  box-shadow: #fff 0 14px 0 0;
  position: absolute;
  top: 0;
}

.navicon:after {
  position: absolute;
  top: 28px;
}

.navicon--active {
  margin-top: 20px;
  -webkit-transition: linear 0.5s all;
  transition: linear 0.5s all;
}

.navicon--active:before {
  box-shadow: transparent 0 0 0 0;
  top: 15px;
  -webkit-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  transform: rotate(225deg);
}

.navicon--active:after {
  top: 15px;
  -webkit-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  transform: rotate(315deg);
}
